<div *ngIf="userExists" class="container animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="jumbotron c-flat text-center bg-main shadow mt-5 text-white unselectable">
                <div class="img-container">
                    <img class="profile-img" src="{{ mainURL + 'files/' + userPhoto }}" alt="">
                </div>
                <h1 class="display-5">{{ userName }}</h1>
                <span class="badge badge-{{ userRole | getRole:'roleClass' }}">{{ userRole | getRole:'roleName' }}</span>
                <span *ngIf="userBanned" class="badge badge-secondary">BLOQUEADO</span>
                <hr class="my-4">
                <p class="lead">{{ userDesc }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="loggedUser" class="row">
        <div class="col">
            <app-postform></app-postform>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <app-posts></app-posts>
        </div>
    </div>
</div>
<div *ngIf="!userExists && mainInit" class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger text-center" role="alert">
                No existe ningun usuario asociado a este enlace!
            </div>
        </div>
    </div>
</div>