<app-authnavbar></app-authnavbar>
<div class="container mt-5">
    <div class="text-center">
        <p class="font-weight-light text-white">
            Hola! Esta página está en fase de pruebas, por favor <a class="green" href="http://instagram.com/tomijimenez9">notificar</a> todos los errores o situaciones extrañas que experimenten! <br> Notificar también las sugerencias! <i class="fas fa-heart heart ml-1"></i>
        </p>
    </div>
</div>
<router-outlet></router-outlet>
<app-authfooter></app-authfooter>