/* You can add global styles to this file, and also import other style files */

.c-flat {
    border-radius: 0px !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 50px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}